:root {
  --black: #343638;
  --grey: #a6adb4;
  --litegrey: #ebeded;
  --litergrey: #f6f8f9;
  --white: #ffffff;
  --blue: #72acff;
  --green: #52e5ba;
  --yellow: #ffc96c;
  --pink: #fa6980;
  --red: #ff4d4d;
}